
.cont{
  display:flex;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  margin:10px;
  opacity: 0;
 }


.btn-top{
 background-color:white;
  padding:5px;
  color:black;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  width:150px;
  height:40px;
  font-weight: 200;
  border-radius: 20px;
  border: 1px solid black;
  margin:3px;
}

.btn-top:hover{
  color:white;
  background-color: black;
}


@media (max-width: 500px) {

   
  .product-card {
    flex-direction: column;
    align-items: center;
}

.product-info {
    text-align: center;
}




.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  border:1px solid grey;
  margin:20px;
  align-items: flex-start;
}



}